/* PHASE 3: Layout */

.content{
  display: flex;
  min-height: 200px;
  width: 900px;
  margin: auto;

}

.content-sidebar{
  /* background: green; */
  width: 25%;
  border-bottom: 1px solid lightgrey;
  border-left: 1px solid lightgrey;
}

.content-main{
  /* background: blue; */
  width: 75%;
  border-bottom: 1px solid lightgrey;
  border-left: 1px solid lightgrey;
  border-right: 1px solid lightgrey;
}